<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">

<nav class='navbar fixed-top navbar-expand navbar-primary bg-danger bg-gradient'>

  <div class="title nav-link" [routerLink]="['/images']">
    <span class="fa fa-2x fa-instagram"></span>
    <span class="fw-bold">{{pageTitle}}</span>
  </div>

  <div class="icons">
    <a class='nav-link' [routerLink]="['/images']" title="Home"><i class="fa fa-2x fa-home"></i></a>
    <a class="nav-link" [routerLink]="['/images/0/edit']" title="Add new image">
      <i class="fa fa-2x fa-plus"></i>
    </a>
  </div>

</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>